* {
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: bold;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

window#waybar {
  background: @background;
}

#clock {
  background: @background-alt;
  padding: 0px 6px;
  color: @text;
}

#tray {
  padding: 0px 6px;
}

#window {
  padding: 0px 12px;
}

#workspaces {
  background: @background;
  padding: 0px 6px;
}

#workspaces button {

}

#workspaces button.empty {

}

#workspaces button.visible {
  color: @text;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#custom-system {
  background: @background-alt;
  margin-left: 8px;
  padding: 0px 6px;
  color: @blue;
}
